/* #212121; - основний текст */
/* #757575; - підписи */
/* лого - #000000 #2196F3; */
:root{
  --title-text-color: #212121;
  --primary-text-color:#757575;
  --accent-color: #2196F3;
  --second-accent-color:#F5F4FA;
}
h1,h2,h3{
  margin:0px
}
img{
  display: block;
}
body{
   font-family: roboto, sans-serif;
   font-size: 14px;
   color: #212121;
   font-weight: 400;
}
.section{
  padding-top: 94px;
  padding-bottom: 94px;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
/* header */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
header{
  border-bottom: 1px solid #ECECEC;
}
 .web{
   color:var(--accent-color);
   font-family: raleway;
   font-size: 26px;
   letter-spacing: 0.78px;
   font-weight: 700;
 }
 .studio{
    color:black;
   font-family: raleway;
   font-size: 26px;
   letter-spacing: 0.78px;
   font-weight: 700;
  }

  .webstudio-header{
   text-decoration: none;
   margin-right: 93px;
   /* margin-top: 24px;
   margin-bottom: 25px; */
 } 

 .navigation-header{
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom:0px ;
  padding-left: 0px;


 } 
 .navigation {
   display: flex;
  align-items: center;
 } 

.contact-header{
  display: flex;
  margin-left: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
} 

.contact-header li{ 
  margin-left: 40px;
}
.contact-header li:first-child{
  margin-left: 0px;
}
 .header{
  display: flex;
  align-items: center;
   
  margin-bottom: 0px;
 } 

.navigation-header li:last-child{
  margin-right: 0px;
} 
 .nav{
 font-weight: 500;
 letter-spacing: 0.28px;
 color: var(--title-text-color);
 text-decoration: none;
 display: block;
 margin-right: 50px;
 }
 .nav a{
padding-top: 32px;
  padding-bottom: 32px;
  display:inline-block;
 }
 .nav-index,
 .nav-portf{
  color: var(--accent-color);
  font-weight: 500;

 }
.nav:hover{
   color:var(--accent-color);
 }
 .nav:focus{
  color:var(--accent-color);
 }

 .contact{

   color:var(--primary-text-color);
   font-weight: 500;
   letter-spacing: 0.28px;
   text-decoration: none;
 }

 .contact:hover{
   color:var(--accent-color);
 }
 .contact:focus {
   color: var(--accent-color);
 }
 /* hero */
.hero{
    background-color: #2F303A;
    padding-bottom: 200px;
    padding-top: 200px;
  
 }
 .hero-title{
   color:#FFFFFf;
   text-align: center;
   font-size: 44px;
   font-weight: 900;
   line-height: 1.36;
   letter-spacing: 2.64px;
   text-transform: uppercase;
   margin-top:0px;
   margin-bottom: 30px;
   width: 696px;
   margin-right: auto;
   /* не центрується кнопка */
   margin-left: auto;

 }

 .button-hero{
   color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    background: var(--accent-color);
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 24px;
    border: none;
    margin: auto;
    display: block;
 
    min-width: 216px;
 }

 /* descriotion */
 .description-title{
 
  margin-top: 0px;
  margin-bottom: 10px;
     font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.42px;
 }
 
 .description{
color: var(--primary-text-color);
   line-height: 1.7;
   letter-spacing: 0.42px;
   margin-bottom: 0px;
   margin-top: 0px;
 }
  .dscr{
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    margin-top: 0px; 
    margin-bottom: 0px;
   
  }
  .dscr li{
margin-right: 30px;
width: 270px;
  }
  .dscr :last-child{
    margin-right:0px;
  }
/* info */
.section-info{
  padding-top: 0px;

}
.info{
  display: flex;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;

}

.item{
  margin-right: 30px;
}
.item>img{
  display: block;
}

.item:last-child{
  margin-right: 0px;
}
    /* comand */
 .title{
      font-size: 36px;
    text-align: center;
      letter-spacing: 1.08px;
      margin-top: 0px;
      margin-bottom: 50px;

 }
 .comand{
  background-color: var(--second-accent-color);
 
  margin-bottom: 0px;
}

 .team{
  display: flex;
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
 }
.member{
  margin-right: 30px;
  margin-top: 0px;
  text-align: center;
  background-color: #FFF;
  border-bottom: 1px solid #ECECEC;
  border-radius: 4px;
 
}
.member:last-child{
  margin-right: 0px;
}
 
 .name{     
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.48px;
      margin-bottom: 10px;  
 }
 .prof{
   color: var(--primary-text-color);
      font-size: 16px;
      letter-spacing: 0.48px;
      text-decoration: none;
      margin: 0px;
 }
 .member-dscr{
  padding: 30px 0px;
 }
 .adress{
   color: #FFF;
      line-height: 0.87;
      letter-spacing: 0.42px;
      font-style: normal;
      margin-top: 28px;
      margin-bottom: 0px;
 }
 
 .radio-button{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.48px;
  cursor: pointer;
  background-color: var(--second-accent-color);
  font-family: inherit;
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  margin:0px;
}
/* .galery-nav:last-child{
  margin-left: 0px;
} */
.galery-nav li{
  margin-right: 8px;
}
.galery-nav li:last-child{
  margin-right: 0px;
}
 .radio-button:hover{
  color: #fff;
  background-color: var(--accent-color);
 }
  .radio-button:focus {
   color: #fff;
  background-color: var(--accent-color);
}

 .signature{
  text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.42px;
    color: var(--title-text-color);
    line-height: 0.5px;
    margin: 0px;
    line-height: 2.0;
 }

 .contact-footer{
  color: rgba(255, 255, 255, 0.60);
  text-decoration: none ;
  font-style: normal;
  display: block;
 }
 .contact-footer:first-child{
  margin-top: 12px;
  margin-bottom: 12px;
 }
 .contact-footer:hover,
 .contact0footer:focus{
  color: var(--accent-color);
 }

 .footer{
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
    /* padding-left: 215px; */
 }
   .studio-footer{
  color: #FFF;
  font-family: raleway;
  font-size: 26px;
     letter-spacing: 0.78px;
    font-weight: 700;
   

 }  
.galery-nav{
  display: flex;
  margin-top: 0px;
  justify-content: center;
  padding-left: 0px;
  margin-bottom: 50px;
}

 .galery{
  /* padding-top: 94px;
  padding-bottom: 94px; */
  margin-bottom: 0px;
}
.galery-item{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.item{
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  
}

.item:nth-child(3n){
  margin-right: 0px;
}
.item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.item-sigh{
 color: var(--primary-text-color);
 font-size: 16px;
 letter-spacing: 0.48px;
 text-decoration: none;
 margin-top: 4px;
 line-height: 2.0;
 margin-bottom: 0px;

}
.item-dscr{
  padding: 20px 24px;
  border: #eee 1px solid;
  border-top: none;
}