//utils
@import'./utils/_variables.scss';
@import'./utils/_visually-hidden.scss';
//base
@import'./base/_common.scss';
@import'./base/_container.scss';
@import'./base/_reset.scss';

//components
@import'./components/_socials.scss';
@import'./components/_logo.scss';
@import'./components/_modal.scss';
@import'./components/_custom-checkbox.scss';

//layouts
@import'./layouts/_header.scss';
@import'./layouts/_footer.scss';
@import'./layouts/_footer-form.scss';
@import'./layouts/_galery.scss';
@import'./layouts/_hero.scss';
@import'./layouts/_filter.scss';
@import'./layouts/_modal_form.scss';
@import'./layouts/_advantages.scss';
@import'./layouts/_offers.scss';
@import'./layouts/_comand.scss';
@import'./layouts/_clients.scss';
