.social-list {
    display: flex;
    justify-content: center;
    padding: 0px;
    align-items: center;
    margin-bottom: 0px;
}

.social-list__item{
    &:not(:last-child) {
    margin-right: 10px;}
}

.social-list__link {
    width: 44px;
    height: 44px;
    background-color: #FFFFFf;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover .social-list__icon,
    &:focus .social-list__icon { 
        fill: #FFF}
    &:hover {
        background-color: var(--accent-color);}
    &:focus {
    outline: none;
    background-color: var(--accent-color);}
    &--bcg-grey {
            background-color: rgb(255, 255, 255, 0.1);}

}
.social-list__icon {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &--fill-white {
            fill: #FFF;
        }
}
.footer-socials__title {
    color: #FFF;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0px;
    @media screen and (min-width: 1200px) {
      text-align: left; }
}
.footer-socials {
    margin-bottom: 60px;
    @media screen and (min-width: 768px) {
        margin-bottom: 0px;
    }
    // margin-left: 70px;
    // margin-right: 93px;
}
