.filter {
    display: flex;
    margin-top: 0px;
    justify-content: center;
    padding-left: 0px;
    margin-bottom: 50px;
}
.filter__button {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.48px;
    cursor: pointer;
    background-color: var(--second-accent-color);
    font-family: inherit;
    border: none;
    padding: 6px 22px;
    border-radius: 4px;
    margin: 0px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
     color: #fff;
     outline: none;
     background-color: var(--accent-color);
     box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 10%),
                 0px 1px 2px 0px rgba(0, 0, 0, 8%),
                 0px 2px 2px 0px rgba(0, 0, 0, 12%); }
}
.filter__item {
    margin-right: 8px;
    &:last-child{
      margin-right: 0px; }
}

