.galery__title {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.32px;
    color: var(--title-text-color);
    line-height: 0.5px;
    margin: 0px;
    line-height: 2.0;
    text-align: left;
    @media screen and (min-width:1200px) {
        letter-spacing: 1.22px;
        
    }
    
}
.galery {
    display: flex;
    flex-direction: column;
    // align-items: center;
    padding-left: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    @media screen and (min-width:768px) {
        flex-wrap: wrap;
        flex-direction: row;
        margin: -15px;
    }
}
.galery__item {
    display: flex;
        flex-direction: column;
 
    margin-bottom: 30px;
    @media screen and (min-width:768px) {
       margin: 15px;
    }
@media screen and (min-width:768px) and (max-width:1199px) {
    max-width: 354PX;}
}

.galery__text {
    color: var(--primary-text-color);
    font-size: 16px;
    letter-spacing: 0.48px;
    text-decoration: none;
    margin-top: 4px;
    line-height: 2.0;
    margin-bottom: 0px;
}
.galery__description {
    flex-grow: 1;
    padding: 20px 24px;
    border: #eee 1px solid;
    border-top: none;
//     @media screen and (min-width: 768px) and (max-width:1199px) {
// max-width: 354px;}
//     @media screen and (min-width: 1200px) {
//         max-width: 370px;
//         height: 113px;
        
   }  

.galery__link {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus{
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 12%),
                0px 4px 4px 0px rgba(0, 0, 0, 6%),
                1px 4px 6px 0px rgba(0, 0, 0, 16%);
    outline: none;}
    &:hover .galery__animation,
    &:focus .galery__animation{
       transform: translateY(0%);
       outline: none;  }
}
// .galery__description--height{
//     @media screen and (min-width:768px) and (max-width:1199px) {
//         height: 149px;}
            
// }

.galery img {
    display: block;
}
.galery__thumb {
    position: relative;
    padding: 0px;
    overflow: hidden;
}

.galery__animation-text {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    padding: 63px 24px;
    margin: 0px;

}
.galery__animation {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    opacity: 0.9;
    transform: translateY(100%);
    box-shadow: #FFF;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
    @media screen and (max-width: 767px) {
        overflow: scroll;
    }
}
