.offers {
    display: flex;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.offers__item {
    display: block;
    margin-right: 30px;
    margin-bottom: 30px;
    width: 370px;
}

.thumb {
    position: relative;
    width: 370px;
    height: 294px;
}

.thumb__img {
    position: relative;
    z-index: -1;
}

.thumb__description {
    position: absolute;
    margin: 0px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 70px;
    font-weight: bold;
    background-color: rgba(47, 48, 58, 0.8);
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    padding-top: 27px;
    z-index: -1;
}